<%require('color_helper')
	@painter = ColorHelper::Color_Factory.new
	@post_n = 0
	@posts.each do |post|
	@post_n += 1
	if @post_n == 1 %>
  	<div class="row">
	<% end %>
		 <div class="large-4 columns <%= @painter.paint %>">
			<h2> <%= post.title %> </h2>
			<p><%= post.slug[0..100]  %>...</p>
			<%= link_to "View '#{post.title}'", post, :class => 'button' %>
		</div>
		<% if @post_n == 3
			@post_n = 0 %>
			</div>
		<% end %>
<% end  %>
