/*	Colors taken from http://flatuicolors.com/ for convenience
 *	Mark Haynes www.github.com/markhaynes456
 */

.flat_turquoise{
  background-color: #1abc9c;
}

.flat_green_sea{
  background-color: #16a085;
}

.flat_emerald{
	background-color: #2ecc71;
}

.flat_nephritis{
	background-color:#27ae60;
}

.flat_peter_river{
	background-color:#3498db;
}

.flat_belize_hole{
	background-color:#2980b9;
}

.flat_amethyst{
	background-color:#9b59b6;
}

.flat_wisteria{
	background-color:#8e44ad;
}

.flat_wet_asphalt{
	background-color:#34495e;
}

.flat_midnight_blue{
	background-color:#2c3e50;
}

.flat_sun_flower{
	background-color:#f1c40f;
}

.flat_orange{
	background-color:#f39c12;
}

.flat_carrot{
	background-color:#e67e22;
}

.flat_pumpkin{
	background-color:#d35400;
}

.flat_alizarin{
	background-color:#e74c3c;
}

.flat_pomergranate{
	background-color:#c0392b;
}

.flat_clouds{
	background-color:#ecf0f1;
}

.flat_silver{
	background-color:#bdc3c7;
}

.flat_concrete{
	background-color:#95a5a6;
}

.flat_asbestos{
	background-color:#7f8c8d;
}
