// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.turquoise{
	background-color: #1abc9c;
}

.greensea{
	background-color: #16a085;
}

